html, body{
    height: 100%;
}

.wrapper{
    min-height: 100%;
    height: auto!important;
    height: 100%;
}

.navbar{
    border-radius: 0;
}

.content{
    padding-bottom: 40px;
}

    .pagination-holder{
        text-align: center;
    }

    .content-table{
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .table-row{
        display: table;
        width: 100%;
    }

    .table-row:nth-of-type(even) .table-row-content{
        background-color: #f7f7f7;
    }

    .table-row-content{
        margin: 0;
        padding: 0;
        list-style: none;

        display: table-row;
        width: 100%;

        border-bottom: 1px solid #ddd;
    }

    .table-cell{
        display: table-cell;
        padding: 10px;
        width: 20%;
    }

    .table-cell img{
        max-width: 100%;
    }

    .photo{
        line-height: 0;
        text-align: center;
    }

.footer{
    margin: -40px 0 0;
    padding: 10px;

    color: #aaa;
}
    .footer .copyright{
        margin-bottom: 0;
    }